[submodule "UniFilter"]
	path = semi_heter/baselines/UniFilter
	url = git@github.com:galogm/forked.git
	branch = UniFilter/wrapper
[submodule "MTGCN"]
	path = semi_heter/baselines/MTGCN
	url = git@github.com:galogm/forked.git
	branch = MTGCN/Wrapper
